<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AAB_Furniture_Rentals.Properties.Settings.cs6232_g4_ConnectionString"
            connectionString="Data Source=CSDBLAB-VM16;Initial Catalog=cs6232-g4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AAB_Furniture_Rentals.Properties.Settings.cs6232_g4ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=cs6232-g4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>